body {
  font-family: 'Gothic A1', sans-serif;
  background: grey;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #ffffff;
}

/* hero */
.hero-title {
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  color: #ffffff;
}

.hero-text {
  font-size: 30px;
  line-height: 1.47;
  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background: #fc0a7e;
  border-radius: 3px;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
}
/* aenean */
.aenean-text {
  font-size: 12px;
  line-height: 1.67;
  color: #a8a8a8;
}
.aenean-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  color: #ffffff;
}
/* <!--Секція Adventures--> */
.adventures {
  background-color: #ffffff;
}
.adventures-list {
}
.adventures-item {
}
.adventures-top-text {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #a8a8a8;
}
.adventures-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  color: #000000;
}
.adventures-text {
  font-size: 16px;
  line-height: 1.88;
  color: #6b6b6b;
}

/* Benefits */
.benefits {
  background-color: #fff;
}

.benefits-list {
}

.benefits-title {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #000000;
}

.benefits-item {
}

.benefits-text {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #6b6b6b;
}
